Source: ros-kinetic-qb-hand
Section: misc
Priority: extra
Maintainer: Alessandro Tondo <alessandro.tondo@qbrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/qb_hand
Standards-Version: 3.9.2

Package: ros-kinetic-qb-hand
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-qb-hand-control, ros-kinetic-qb-hand-description, ros-kinetic-qb-hand-hardware-interface
Description: This package contains the ROS interface for qbrobotics® qbhand device.
